<div class="form-container">
  <h2>Ajouter un poilu</h2>
  <%= simple_form_for(@poilu) do |f| %>
    <% if @poilu.errors.any? %>
      <div class="errors-container">
        <ul>
        <% @poilu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        </ul>
        <% end %>
      </div>
    <% end %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= f.input :name, label: "Nom du poilu"%>
    <%= f.input :description, label: "Description du poilu" %>
    <%= f.input :price, label: "Prix par jour" %>
    <%= f.input :location, collection: Poilu::LOCATIONS, label: "Emplacement du poilu" %>
    <%= f.input :photo, as: :file,label: "Photo du poilu" %>
    <%= f.submit "Ajouter le poilu", class: "bouton bouton-2" %>
  <% end %>
</div>
