<div class="banner">
  <div class="container">
    <h1>Trouve ton poilu!</h1>
    <p>Un site vraiment super poilant.</p>
  </div>
</div>

<div class="container">
  <div class="container">
    <div class="search">
      <%= form_tag poilus_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Trouve ton poilu"
        %>
    </div>
      <div class="btn-search"><%= submit_tag "Chercher", class: "bouton-2 bouton" %></div>
      <% end %>
  </div>
  <div class="cards">
    <% @poilus.each do |poilu| %>
    <div
    class="card-category"
    style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
    <%= poilu.photo.attached? == true ? "url('#{cl_image_path(poilu.photo.key, height: 300, width: 400, crop: :fill)}')" : "url(#{image_path("default.jpg")})" %>"
    >
      <div class="poilu-location">
        <%= link_to poilu_path(poilu) do %>
        <p><i class="fas fa-map-marker-alt"></i><%= poilu.location %></p>
        <% end %>
      </div>
      <div class="poilu-name">
        <h4><%= link_to poilu.name, poilu_path(poilu) %></h4>
        <p>un poilu de <%= image_tag "profile.png", class: "avatar avatar-user" %></p>
        </div>
    </div>
    <% end %>
  </div>
</div>



