<h1><%= @poilu.name %></h1>
<p><%= @poilu.description %></p>
<p>Ce poilu se trouve à <%= @poilu.location %></p>
<p>Ce poilu apartient à <%= @poilu.user.email %></p>

<%= link_to '<– back', poilus_path %>
