<div class="form-container">
 <%= simple_form_for [@poilu, @booking], :method => :put do |f| %>
    <h2>Modifier les dates</h2>
    <% if @booking.errors.any? %>
        <div class="errors-container">
          <ul>
            <% @booking.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <%= f.input :start_date, as: :string, placeholder: '21/02/2020', label: 'Début de la location', input_html:{ class: 'datepicker', autocomplete: "off"} %>
    <%= f.input :end_date, as: :string, placeholder: '21/02/2020', label: 'Fin de la location', input_html:{ class: 'datepicker', autocomplete: "off"} %>
    <%= f.submit "Modifier", class: "bouton bouton-2" %>
  <% end %>
</div>
