<div class="form-container">
  <%= simple_form_for [@poilu, @booking], :method => :patch do |f| %>
    <h4>Confirmez votre réservation</h4>
    <p>Poilu choisi: <%= @poilu.name %></p>
    <p>Loué du: <%= @booking.start_date %> au <%= @booking.end_date %></p>
    <%= f.hidden_field :paid, value: true %>
    <div><%= cl_image_tag @poilu.photo.key, height: 300, width: 400, crop: :fill %></div>
    <%= f.submit "Payer", class: "btn-ghost" %>
  <% end %>
</div>
