<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <%= simple_form_for [@poilu, @booking] do |f| %>
      <% if @booking.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @booking.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <%= f.input :start_date, as: :date, html5: true, :label => "First day"%>
      <%= f.input :end_date, as: :date, html5: true, :label => "Last day"%>
      <%= f.submit "Book" %>
    <% end %>
    </div>
  </div>
</div>
