
<h3>Bonjour <%= @user.username %>, bienvenue sur ton profil</h3>


<h3>Mes poilus:</h3>
<% @user.poilus.each do |poilu| %>
  <p><%= poilu.name %></p>
  <p><%= poilu.description %></p>

  <% if poilu.photo.attached?  %>
    <div><%= cl_image_tag(poilu.photo.key) %></div>
  <% end %>

  <h3>Les réservations de <%= poilu.name %>:</h3>

  <% if poilu.bookings.size > 0 %>
    <% poilu.bookings.each do |booking| %>
     <p> Du <%= booking.start_date %> au <%= booking.end_date %> par <%= booking.user.username %></p>
    <% end %>
  <% else %>
    <p>Pas de réservations</p>
  <% end %>

<% end %>


<h3> Mes réservations:</h3>
<% if @bookings.size > 0 %>
  <% @bookings.each do |booking| %>
    <p> <%= booking.poilu.name %> du <%= booking.start_date %> au <%= booking.end_date %></p>
      <% if policy(booking).destroy? %>
        <p><%= link_to '<i class="fas fa-trash-alt"></i> Supprimer'.html_safe, poilu_booking_path(booking.poilu, booking), method: :delete, data: { confirm: "Are you sure?" }, class: 'link'  %> </p>
      <% end %>

      <% if policy(booking).edit? %>
        <p><%= link_to '<i class="fas fa-edit"></i> Éditer'.html_safe, edit_poilu_booking_path(booking.poilu, booking), class: 'link'  %></p>
      <% end %>
    <% if booking.poilu.photo.attached?  %>
      <div> <%= cl_image_tag(booking.poilu.photo.key) %></div>
    <% end %>
  <% end %>
<% else %>
  <p>Pas de réservations</p>
<% end %>

<p><%= link_to '<i class="fas fa-chevron-left"></i> Retour'.html_safe, poilus_path, class: 'link back' %></p>

